<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    ...
</head>
<body>
<div th:fragment="inventory">
    <div class="inventory">
        <h1><span th:text="#{character.inventory}"></span></h1>
        <div th:if="${inventoryUsables.size() == 0}">
            <h2>No items found, start fighting and earning loot!</h2>
        </div>

        <div th:if="${inventoryUsables.size() > 0}">
            <div class="battle inventory-items">
                <div th:class="${'item ' + usable.getType()}" th:each="usable : ${inventoryUsables}">
                    <div class="type" th:text="${usable.getType()}" th:hidden="usable"></div>
                    <div class="name" th:text="${usable.getName()}"></div>
                    <div class="item" th:id="${usable.getId()}">
                        <img th:src="@{'/images/'  + ${usable.getImageUrl()}}" th:alt="${usable.getName()}"></img>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>