<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    ...
</head>
<body>
<div th:fragment="inventory">
    <div class="inventory">
        <h1><span th:text="#{character.inventory}"></span></h1>
        <div th:if="${character.getInventory() != null}">
            <ul th:each="instance : ${character.getInventory().getUsables()}">
                <li th:class="${instance.value.getType()}" th:text="${instance.value.getName()}">Name</li>
            </ul>
        </div>
        <div th:if="${character.getInventory() == null}">
            <h3>No items found</h3>
        </div>
    </div>
</div>
</body>
</html>