<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    ...
</head>
<body>
<div th:fragment="stats">
    <div class="stats-container">
        <img th:src="@{/images/rpg-hp.png}" th:width="20px" /> <span th:text="#{character.hitpoints}"></span>: <span id="charLvl" th:text="${character.getStats().getHitpoints()}"></span><br/>
        <span th:text="#{character.hitpointsXp}"></span>: <span id="char_hp_xp" th:text="${character.getStats().getHitpointsXpLeft()}"></span><br/><br/>

        <img th:src="@{/images/rpg-strength.png}" th:width="20px" /> <span th:text="#{character.strength}"></span> <span th:text="#{character.level}"></span> <span th:text="${character.getStats().getStrength()}"></span><br/>
        <span th:text="#{character.strengthXp}"></span>: <span id="char_strength_xp" th:text="${#numbers.formatDecimal(character.getStats().getStrengthXpLeft(), 0, 'COMMA', 2, 'POINT')}"></span><br/><br/>

        <img th:src="@{/images/rpg-defense.png}" th:width="20px" /> <span th:text="#{character.defense}"></span> <span th:text="#{character.level}"></span> <span th:text="${character.getStats().getDefense()}"></span><br/>
        <span th:text="#{character.defenseXp}"></span>: <span id="char_defense_xp" th:text="${#numbers.formatDecimal(character.getStats().getDefenseXpLeft(), 0, 'COMMA', 2, 'POINT')}"></span><br/><br/>

        <img th:src="@{/images/rpg-magic.png}" th:width="20px" /> <span th:text="#{character.magic}"></span> <span th:text="#{character.level}"></span> <span th:text="${character.getStats().getMagic()}"></span><br/>
        <span th:text="#{character.magicXp}"></span>: <span id="char_magic_xp" th:text="${#numbers.formatDecimal(character.getStats().getMagicXpLeft(), 0, 'COMMA', 2, 'POINT')}"></span><br/><br/>

        <img th:src="@{/images/rpg-archery.png}" th:width="20px" /> <span th:text="#{character.archery}"></span> <span th:text="#{character.level}"></span> <span></span><br/>
        <span th:text="#{character.archeryXp}"></span>: <span id="char_achery_xp" th:text="${#numbers.formatDecimal(character.getStats().getArcheryXpLeft(), 0, 'COMMA', 2, 'POINT')}"></span><br/><br/>
    </div>
</div>
</body>
</html>