<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div class="container">

    <!--<div th:if="${isEnemyAlive} == false">-->
    <!--<div class="column flight-end">-->
    <!--<h1>The winner is ...</h1>-->
    <!--</div>-->
    <!--&lt;!&ndash;</div>&ndash;&gt;and ${isEnemyAlive} == true-->

    <!--th:if="${isCharacterAlive} == true and  ${isEnemyAlive} == true"-->

    <div th:replace="fragments/fight :: fight">
    </div>
    <div class="column" th:replace="fragments/inventory :: inventory">
        <div class="inventory">
            <h1 th:text="#{character.inventory}"></h1>
            <div class="row">
                <h2 style="padding-left: 15px;" th:text="#{character.inventory.equipment}"></h2>
                <div class="equipment">
                    <div class="column">
                        <div class="item-container">
                            <div class="item">
                                <div class="item-image" style="background-image: url('../images/rpg-sword.png');">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="item-container">
                            <div class="item">
                                <div class="item-image" style="background-image: url('../images/rpg-sword.png');">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="item-container">
                            <div class="item">
                                <div class="item-image" style="background-image: url('../images/rpg-sword.png');">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="item-container">
                            <div class="item">
                                <div class="item-image" style="background-image: url('../images/rpg-sword.png');">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="potions">
                    <h2 style="padding-left: 15px;" th:text="#{character.inventory.potions}"></h2>
                    <div class="column">
                        <div class="item-container">
                            <div class="item">
                                <div class="item-image" style="background-image: url('../images/rpg-potion.png');">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="item-container">
                            <div class="item">
                                <div class="item-image" style="background-image: url('../images/rpg-potion.png');">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="item-container">
                            <div class="item">
                                <div class="item-image" style="background-image: url('../images/rpg-potion.png');">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/game_information :: info"></div>
</div>
<div th:replace="fragments/script :: script"></div>
</body>
</html>

