<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div class="container">
    <div th:replace="fragments/fight :: fight">
    </div>
    <div class="column" th:replace="fragments/inventory :: inventory">
        <div class="inventory">
            <h1>Inventory</h1>
            <ul th:each="usable : ${character.getInventory().getUsables()}">
                <li th:class="${usable.getType()}" th:text="${usable.getName()}">Name</li>
            </ul>
        </div>
    </div>
    <div th:replace="fragments/game_information :: info"></div>
</div>
<div th:replace="fragments/script :: script"></div>
</body>
</html>

