<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Proftaak</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    <!--<link rel="stylesheet" type="text/css" href="../static/css/main.css" />-->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div class="container">

    <!--<div th:if="${isEnemyAlive} == false">-->
    <!--<div class="column flight-end">-->
    <!--<h1>The winner is ...</h1>-->
    <!--</div>-->
    <!--&lt;!&ndash;</div>&ndash;&gt;and ${isEnemyAlive} == true-->

    <!--th:if="${isCharacterAlive} == true and  ${isEnemyAlive} == true"-->

    <div class="column fight-view">
        <div class="contender">
            <div class="stats">
                <h3 th:text="${character.getName()}">Name</h3>
                Level: <span id="charLvl" th:text="${character.getStats().getLevel()}"></span><br/>
                HP: <span id="charCurrentHp" th:text="${character.getStats().getCurrentHitpoints()}"></span>/<span
                    id="charHp" th:text="${character.getStats().getHitpoints()}"></span><br/>
            </div>
            <div class="battler">
                <img style="max-height: 350px; width: 80%" th:src="@{/images/rpg-warrior.png}"/>
            </div>
            <input type="submit" value="Attack" id="normal_attack"/>
            <input type="submit" value="Special Attack" id="special_attack"/>
            <input type="submit" value="Heal" id="heal"/>
        </div>
    </div>
    <div class="column text-right">
        <div class="contender">
            <div class="stats">
                <h3 th:text="${enemy.getName()}">Name</h3>
                Level: <span id="enemyLvl" th:text="${enemy.getStats().getLevel()}"></span><br/>
                HP: <span id="enemyCurrentHp" th:text="${enemy.getStats().getCurrentHitpoints()}"></span>/<span
                    id="charHp" th:text="${enemy.getStats().getHitpoints()}"></span><br/>
            </div>
            <div class="battler" style="background-image: url('../images/rpg-wolf.png');">
            </div>
        </div>
    </div>
    <div class="column">
        <div class="inventory">
            <h1>Inventory</h1>
            <ul th:each="usable : ${character.getInventory().getUsables()}">
                <li th:class="'u' + ${usable.getType()}" th:text="${usable.getName()}">Name</li>
            </ul>
        </div>
    </div>
    <div class="messages-container">
        <h2>Game information</h2>
        <div class="messages"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="../../js/main.js"></script>
</body>
</html>

