<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:replace="fragments/head :: head">
</head>
<body>
	<form method="post" action="/logout" style="float: right; margin-right: 20px;">
		<input type="hidden"
			   th:name="${_csrf.parameterName}"
			   th:value="${_csrf.token}" />
		<button type="submit">Logout</button>
	</form>
	<div class="main-container">
		<div class="main-container-left">
			<h1>
				<span th:text="#{home.welcome}"></span>
				<span th:text="${#httpServletRequest.remoteUser}"></span>
			</h1>
			<a href="/battle"><button id="start_battle" th:text="#{battle.start}"></button></a><br/>
			<a href="/inventory"><button>Inventory</button></a>
		</div>

		<div class="main-container-right">
			<span th:text="#{character.level}"></span> <span id="charLvl" th:text="${character.getStats().getLevel()}"></span><br/>
			<span th:text="#{character.hp}"></span> <span id="charCurrentHp" th:text="${character.getStats().getCurrentHitpoints()}"></span>/<span
				id="charHp" th:text="${character.getStats().getHitpoints()}"></span><br/>
			<span th:text="#{character.xp}"></span> 1083/1200<br/>
			<img style="height: 350px;" th:src="@{/images/rpg-warrior.png}"/>
		</div>

		<div th:replace="fragments/stats :: stats"></div>
	</div>
	<div th:replace="fragments/script :: script"></div>
</body>
</html>