<!DOCTYPE html>
<html>
<head>
	<title>Proftaak</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
	<div class="text">
		<h1>Register</h1>
		<form>
		    <input type="text" placeholder="Username" name="uname" required><br>

		    <input type="password" placeholder="Password" name="psw" required><br>
		    <h2>Race</h2>
		    <select name="races">
				<option value="volvo">Dwarf</option>
				<option value="saab">Elf</option>
				<option value="fiat">Troll</option>
			</select>
		    <h2>Specialization</h2>
		    <select name="specializations">
				<option value="volvo">Mage</option>
				<option value="saab">Warrior</option>
				<option value="fiat">Archer</option>
			</select><br><br>
		    <button type="submit" onclick="window.location='home.html';">Register</button>
		</form>
	</div>
</body>
</html>